<div class="container-account">
<p class="signing">Please enter an email address and password below to create an account:</p>
  <div class="text-field">
    <%= form.label :email %><br>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>
</div>