<!-- inside app/views/welcome/index.html.erb -->  
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<br>

<h1 class="heading">Welcome to Workout Planner</h1>
<h2>Track your fitness goals.</h2><br>

<div class="home-container">
  <p class="intro">With the Workout Planner application, you can create your very own at home workout schedule.
    All you need to do is add a new workout.
    Here you can add the day, the exercices you did and the duration of that workout.</p>
  <p class="intro">If you are a current member, please log in to your account via "Account". If you are a new member, create an account for free using the sign up option.
    If you cannot remember your password, you can select "Forgot password". </p><br>
  <p class="par">Happy tracking!</p>
</div>

<button><%= link_to "Sign out", sign_out_path %></button>


