<!-- inside app/views/welcome/index.html.erb -->  
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<br>

<h1>Welcome to Workout Planner</h1><br>
<h2>Track your fitness goals</h2><br>
<p>With the workout planner application, you can create your very own at home workout schedule. <br>
   All you need to do is add a new workout. <br> Here you can add the day, the exercices you did and the duration of that workout.</p>
<p>If you are a new user, create an account by going clicking "Sign Up". If you have already signed up, click on "Sign In". </p>
