@font-face {
    font-family: 'agrandirregular';
    src: url('agrandir-regular-webfont.woff2') format('woff2'),
         url('agrandir-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

nav{
    font-size: 80%;
}

nav img{
    max-height: 100px;
    max-width: 100px;
}


body{
    text-align: center;
    color: #000000;
    background-image: url("workout_planner.png");
    background-position: bottom-center;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    border-radius: 50%;
}

link {
    color: #ffffff;
}

p, h1, h2{
    text-align: center;
    background-color: #00000041;
}
